@import "../../style/themes/default.less";
@import "../../style/mixins/index.less";
@import "../../style/mixins/grid.less";

@grid-row-prefix-cls: ~"@{one-prefix}-row";
@grid-col-prefix-cls: ~"@{one-prefix}-col";

.@{grid-row-prefix-cls} {
    .make-row();
    display: block;
    box-sizing: border-box;
}

.@{grid-row-prefix-cls}-flex {
    display: flex;
    flex-flow: row wrap;
    &:before,
    &:after {
        display: flex;
    }
}

.@{grid-row-prefix-cls}-flex-start {
    justify-content: flex-start;
}

.@{grid-row-prefix-cls}-flex-center {
    justify-content: center;
}

.@{grid-row-prefix-cls}-flex-end {
    justify-content: flex-end;
}

.@{grid-row-prefix-cls}-flex-space-between {
    justify-content: space-between;
}

.@{grid-row-prefix-cls}-flex-space-around {
    justify-content: space-around;
}

.@{grid-row-prefix-cls}-flex-top {
    align-items: flex-start;
}

.@{grid-row-prefix-cls}-flex-middle {
    align-items: center;
}

.@{grid-row-prefix-cls}-flex-bottom {
    align-items: flex-end;
}

.@{grid-col-prefix-cls} {
    position: relative;
    display: block;
}

.make-grid-columns();
.make-grid();
.make-grid(-xs);

@media (min-width: @screen-sm-min) {
    .make-grid(-sm);
}

@media (min-width: @screen-md-min) {
    .make-grid(-md);
}

@media (min-width: @screen-lg-min) {
    .make-grid(-lg);
}

@media (min-width: @screen-xl-min) {
    .make-grid(-xl);
}
