/**
 * Colors
 */
/* Brand colors */
/* Contextual colors */
/* Gray scale colors */
/**
 * Typography
 */
/**
 * Spacing
 */
/**
 * Background colors
 */
/**
 * Borders
 */
/* Border colors */
/* Separator colors */
/* Border radii */
/* Shadows */
/* Icons */
/* Font sizes */
/* Metrics */
/* Stylistic variants */
/* Focus rings */
/* Button group separator */
/* Font sizes */
/* Text decorations */
/* Stylistic variants */
/* Typography */
/* Metrics */
/* Colors */
/* Focus ring */
/* Checkbox group */
/* Typography */
/* Metrics */
/* Colors */
/* Focus ring */
/* Strong variant */
/* Checkbox group */
/* Metrics */
/* Colors */
/* Typography */
/* Font sizes */
/* Metrics */
/* Colors & states */
/* Focus rings */
/* Icons */
/* Typography */
/* Metrics */
/* Character count */
/* Metrics */
/* Font sizes */
/* Metrics */
/* States */
/* Option group title */
/* Option dropdown */
/* Widths */
/* Icon */
/* Metrics */
/* Colors */
/* Metrics */
/* Colors */
/* Typography */
/* Markers */
/* Metrics */
/* Spacing */
/* Statuses */
/* Metrics */
/* Colors */
/* Typography */
/* Metrics */
/* Colors */
/* Metrics */
/* Colors & States */
/* Metrics */
/* Headers */
/* Colors */
/* Metrics */
/* Typography */
/* Container */
/* Panel */
/* Misc */
/* Metrics */
/* Colors */
/* Indicators */
/* Stylistic variants */
/* Metrics */
/* Colors */
/* Metrics */
/* Colors */
/* Metrics */
/* Stylistic variants */
/* Metrics */
/* Colors */
/* Metrics */
/* Colors */
/* Pages */
/* Indicators */
/* Controls */
/* Pages */
/**
 * DatePicker Dropdown
 *  only has small and middle size
 */
/* Font size */
/* Background color */
/* Radius */
/* Shadow */
/**
 * DatePicker input
 */
/* Icon color */
/* Spacing */
/**
 * DatePicker panel
 */
/**
 * DatePicker header
 *  select year / month
 */
/* Icon sizes */
/* Padding & spacing */
/**
 * DatePicker body,
 * including weekdays, day/month/year body
 */
/**
 * DatePicker cells,
 * including date/month/year cells
 */
/* Sizes */
/* Border radii */
/* Focus rings */
/* Font colors */
/* Font weights */
/* Spacing, except for start and end */
/* Background */
/* Border color */
/**
 * List: year scroller & shortcut list
 */
/**
 * Year scroller
 */
/* Font size */
/* Common */
/* Cell */
/* Header */
/* Sub-row */
/* Typography */
/* Misc */
/* Metrics */
/* Typography */
/* Container */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
.new-fc-one-loading {
  display: none;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 8px;
}
.new-fc-one-loading-vertical .new-fc-one-loading-text {
  display: block;
  margin-top: 8px;
  margin-left: 0;
}
.new-fc-one-loading-visible {
  position: static;
  display: inline-block;
  opacity: 1;
}
.new-fc-one-loading-medium {
  font-size: 14px;
}
.new-fc-one-loading-medium .icon-loading {
  height: 1em;
  width: 1em;
}
.new-fc-one-loading-small {
  font-size: 12px;
}
.new-fc-one-loading-small .icon-loading {
  height: 1em;
  width: 1em;
}
.new-fc-one-loading-large {
  font-size: 16px;
}
.new-fc-one-loading-large .icon-loading {
  height: 24px;
  width: 24px;
}
.new-fc-one-loading-type-normal .new-fc-one-loading-text {
  color: #000;
}
.new-fc-one-loading-type-normal .new-fc-one-loading-loading-icon {
  color: #999;
}
.new-fc-one-loading-type-strong .new-fc-one-loading-text {
  color: #000;
}
.new-fc-one-loading-type-strong .new-fc-one-loading-loading-icon {
  color: #3d88f2;
}
.new-fc-one-loading-type-reverse .new-fc-one-loading-text {
  color: #fff;
}
.new-fc-one-loading-type-reverse .new-fc-one-loading-loading-icon {
  color: #fff;
}
.new-fc-one-loading-container {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.new-fc-one-loading-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
  pointer-events: none;
}
.new-fc-one-loading-blur {
  clear: both;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
.new-fc-one-loading-blur::after {
  opacity: 0.15;
  pointer-events: auto;
}
.new-fc-one-loading-nested-loading {
  position: relative;
}
.new-fc-one-loading-nested-loading div > .new-fc-one-loading {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.new-fc-one-loading-nested-loading div > .new-fc-one-loading .new-fc-one-loading-icon-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.new-fc-one-loading-text {
  margin-left: 8px;
}
.new-fc-one-loading-loading-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  animation: rotating 2s linear infinite;
  top: -1px;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
